doctype
html(lang='es')
	include includes/head.pug

	body
		main.home.ruleta
			section.header
				.container
					.row 
						.col-12.header--title
							h1 ¡Date un Break y descubre grandes premios!

						.col-12.header--logo
							img.img-fluid#logoPromo(src="https://oxxo-com.s3.amazonaws.com/media-library/0cdf1eb5f59b547152758ff795d69676.png" alt="")

							img.img-fluid#ps5(src="https://oxxo-com.s3.amazonaws.com/media-library/430104bc84f6d4736fc05976ffa1d9f4.png" alt="")
							img.img-fluid#earpods(src="https://oxxo-com.s3.amazonaws.com/media-library/95f96054279dde2240e0d8e9bdb95766.png" alt="")
							img.img-fluid#kitkat(src="https://oxxo-com.s3.amazonaws.com/media-library/110ea3a26ba8caead468c3fe3f6d9a1f.png" alt="")

							img.img-fluid#paleta(src="https://oxxo-com.s3.amazonaws.com/media-library/78dcd0f511265642f119076e19864eb4.png" alt="")
							img.img-fluid#alexa(src="https://oxxo-com.s3.amazonaws.com/media-library/fea9ba641b11bfc98abb579a4e3ef997.png" alt="")
							img.img-fluid#ninendo(src="https://oxxo-com.s3.amazonaws.com/media-library/8fdc2e7c2a224dd434555dcaf21a85b1.png" alt="")
							img.img-fluid#tablet(src="https://oxxo-com.s3.amazonaws.com/media-library/0b3c6d6d30f13c66e8edca39f8b48062.png" alt="")

					.row.header--bases
						.col-12 
							h2 ¿Cómo participo?
							ul 
								li Gira la ruleta
								li Descubre tu premio
								li Regístrate y responde la pregunta

			section.sombrero
				.container
					.row.justify-content-center
						.col-12.col-lg-9

							.sombrero--redes 
								h4 Síguenos en
								a.text-decoration-none(href="http://" target="_blank" rel="noopener noreferrer") 
									img.img-fluid(src="https://oxxo-com.s3.amazonaws.com/media-library/a148bbcaf6477f9ac0aea4ccd5026a9d.png" alt="")
								a.text-decoration-none(href="http://" target="_blank" rel="noopener noreferrer") 
									img.img-fluid(src="https://oxxo-com.s3.amazonaws.com/media-library/b74cebd5637d63e91bb379c56695190b.png" alt="")
								a.text-decoration-none(href="http://" target="_blank" rel="noopener noreferrer") 
									img.img-fluid(src="https://oxxo-com.s3.amazonaws.com/media-library/f7f0b4fca438ba325ae5dab7302139c6.png" alt="")


							img.img-fluid#botonGirar(src="https://oxxo-com.s3.amazonaws.com/media-library/d1677b5c164a4d514b23a3cb21f5e8e2.png" alt="")

							.sombrero__ruleta
								img.img-fluid#indicador(src="https://oxxo-com.s3.amazonaws.com/media-library/0c2359ca8cb93217387921d487eb26b7.png" alt="")
								img.img-fluid#copa(src="https://oxxo-com.s3.amazonaws.com/media-library/f9de12cf8ef8467f6f16996773276374.png" alt="")
								img.img-fluid#ala(src="https://oxxo-com.s3.amazonaws.com/media-library/1cc4e5c828973c23351be5d0de82d5fe.png" alt="")

			section.footer
				.container
					.row.justify-content-center
						.col-12
							h6 COME BIEN. Vigencia de la promoción 7 de Octubre al 20 de Noviembre del 2021. Consulte Términos y Condiciones en: oxxo.com/ruletaKitKat Marcas registradas usadas bajo licencia de su titular Société Des Produits Nestlé S.A.,Case Postale 353, 1800 Vevey, Suiza.


			.modal.fade#modalDefault(tabindex='-1' role='dialog' data-backdrop="static" data-keyboard="false")
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						.closeModal(data-dismiss='modal' aria-label='Close') x

						.modal-body
							h1 
								b ¡Te faltó muy poco!

							h4 Sigue intentando que ese cupón espera por ti

							img.img-fluid.imgSad(src="https://oxxo-com.s3.amazonaws.com/media-library/206f051c8c9b99ecbd0f4ba01c1f9878.png" alt="OXXO")

							input.boton.primario.btnOn(type="button" value="Intentar de nuevo" data-dismiss='modal' aria-label='Close')


			.modal.fade#modalCupon(tabindex='-1' role='dialog' data-backdrop="static" data-keyboard="false")
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						.closeModal(data-dismiss='modal' aria-label='Close') x

						.modal-body.modal-felicidades
							h1 
								b ¡FELICIDADES!

							h4 Has ganado un cupón


							img.img-fluid#cupon(src="../img/cupon.jpeg" alt="")

							a.linkCupon
								input.btnOn.boton.primario(type="button" value="Obtener cupón")


			.modal.fade#modalCuponEspecial(tabindex='-1' role='dialog' data-backdrop="static" data-keyboard="false")
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						.closeModal(data-dismiss='modal' aria-label='Close') x

						.modal-body.modal-felicidades
							h1 
								b ¡Felicidades!

							h4 Has ganado un premio especial 
								br 
								| este es tu número de folio:

							h2.folioCupon ADN00987654321

							input.boton.primario.btnOn(type="button" value="Volver a girar" data-dismiss='modal' aria-label='Close')


			.modal.fade#modalPregunta(tabindex='-1' role='dialog' data-backdrop="static" data-keyboard="false")
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						.closeModal(data-dismiss='modal' aria-label='Close') x

						.modal-body.modal-felicidades
							h1 
								b ¿Cuál es el nombre de la ruleta?

							.cajaRadios
								.radios 
									input#radio1(type="radio" name="preguntas" value="x")
									label(for="radio1") La Ruleta del Break

								.radios 
									input#radio2(type="radio" name="preguntas" value="y")
									label(for="radio2") La Ruleta de Helados Nestlé


							input.boton.primario.btnOn#btnPregunta(type="button" value="Enviar")

			.modal.fade#modalPreguntaError(tabindex='-1' role='dialog' data-backdrop="static" data-keyboard="false")
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						.closeModal(data-dismiss='modal' aria-label='Close') x

						.modal-body.modal-felicidades
							h2 
								b Ups, estuviste muy cerca
							br
							h4 La respuesta correcta es:

							h2 Chocolate y Oblea
							br
							h4 ¡Sigue participando!


							input.boton.primario.btnOn(type="button" value="Intentar de nuevo" data-dismiss='modal' aria-label='Close')
